In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [3]:
!pip install category_encoders

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting category_encoders
  Downloading category_encoders-2.8.1-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\dell\appdata\roaming\python\python310\site-packages (from category_encoders) (2.2.1)
Collecting patsy>=0.5.1 (from category_encoders)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\python\lib\site-packages (from category_encoders) (1.7.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from category_encoders) (1.12.0)
Collecting statsmodels>=0.9.0 (from category_encoders)
  Downloading statsmodels-0.14.5-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python310\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\roaming\python\python310\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\roaming\python\python310\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.4.0)
Requirement already satisfied: packaging>=21.3 in c:\users\dell\appdata\roaming\python\python310\site-packages (from statsmodels>=0.9.0->category_encoders) (23.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.16.0)
Downloading category_encoders-2.8.1-py3-none-any.whl (85 kB)
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading statsmodels-0.14.5-cp310-cp310-win_amd64.whl (9.6 MB)
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.6 MB ? eta -:--:--
   --- ------------------------------------ 0.8/9.6 MB 1.3 MB/s eta 0:00:07
   ---- ----------------------------------- 1.0/9.6 MB 1.3 MB/s eta 0:00:07
   ----- ---------------------------------- 1.3/9.6 MB 1.4 MB/s eta 0:00:06
   ------ --------------------------------- 1.6/9.6 MB 1.2 MB/s eta 0:00:07
   ------- -------------------------------- 1.8/9.6 MB 1.2 MB/s eta 0:00:07
   -------- ------------------------------- 2.1/9.6 MB 1.3 MB/s eta 0:00:06
   --------- ------------------------------ 2.4/9.6 MB 1.3 MB/s eta 0:00:06
   ---------- ----------------------------- 2.6/9.6 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.1/9.6 MB 1.4 MB/s eta 0:00:05
   --------------- ------------------------ 3.7/9.6 MB 1.5 MB/s eta 0:00:04
   ---------------- ----------------------- 3.9/9.6 MB 1.5 MB/s eta 0:00:04
   ----------------- ---------------------- 4.2/9.6 MB 1.5 MB/s eta 0:00:04
   ------------------- -------------------- 4.7/9.6 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 5.0/9.6 MB 1.5 MB/s eta 0:00:04
   --------------------- ------------------ 5.2/9.6 MB 1.5 MB/s eta 0:00:03
   ---------------------- ----------------- 5.5/9.6 MB 1.5 MB/s eta 0:00:03
   ------------------------- -------------- 6.0/9.6 MB 1.5 MB/s eta 0:00:03
   -------------------------- ------------- 6.3/9.6 MB 1.5 MB/s eta 0:00:03
   --------------------------- ------------ 6.6/9.6 MB 1.5 MB/s eta 0:00:03
   ---------------------------- ----------- 6.8/9.6 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 7.3/9.6 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 7.6/9.6 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 7.9/9.6 MB 1.5 MB/s eta 0:00:02
   --------------------------------- ------ 8.1/9.6 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 8.4/9.6 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.6 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 8.9/9.6 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 9.2/9.6 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  9.4/9.6 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  9.4/9.6 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 9.6/9.6 MB 1.4 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels, category_encoders
Successfully installed category_encoders-2.8.1 patsy-1.0.1 statsmodels-0.14.5

In [ ]:
from category_encoders import TargetEncoder
df=pd.read_csv('Churn_Modelling.csv')

In [8]:
df.drop(columns = ["CustomerId", "RowNumber", "Surname"], axis = 1, inplace=True)

In [10]:
df['Gender'] = df['Gender'].fillna('Male')

In [11]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
encoder = TargetEncoder()

df['Gender Encoded'] = encoder.fit_transform(df['Gender'], df['Exited'])

In [13]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender Encoded
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0.250715
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0.250715
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0.250715
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0.250715
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0.250715

In [14]:
df['Gender Encoded'].value_counts()

Gender Encoded
0.164559    5457
0.250715    4543
Name: count, dtype: int64

Benefits of TE:
    Target encoding is a simple and quick encoding method that doesn't add to the dimensionality of the dataset. Therefore, it may be used as a good first try technique.
    
Limitations of TE:
    It is dependent on the target distribution which means target encoding requires careful validation as it can be prone to overfitting.

Hash Encoding

In [15]:
from category_encoders import HashingEncoder

In [16]:
X = df.Gender
y = df.Exited

In [17]:

ce_hash = HashingEncoder(cols = ['Gender'])
ce_hash.fit_transform(X,y)

      col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0         0      0      0      0      0      0      0      1
1         0      0      0      0      0      0      0      1
2         0      0      0      0      0      0      0      1
3         0      0      0      0      0      0      0      1
4         0      0      0      0      0      0      0      1
...     ...    ...    ...    ...    ...    ...    ...    ...
9995      0      0      0      0      0      1      0      0
9996      0      0      0      0      0      1      0      0
9997      0      0      0      0      0      0      0      1
9998      0      0      0      0      0      1      0      0
9999      0      0      0      0      0      0      0      1

[10000 rows x 8 columns]

In [18]:
X = df.Geography

In [19]:
ce_hash2 = HashingEncoder(cols = ['Geography'])
ce_hash2.fit_transform(X,y)

      col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0         0      1      0      0      0      0      0      0
1         0      0      0      1      0      0      0      0
2         0      1      0      0      0      0      0      0
3         0      1      0      0      0      0      0      0
4         0      0      0      1      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...    ...
9995      0      1      0      0      0      0      0      0
9996      0      1      0      0      0      0      0      0
9997      0      1      0      0      0      0      0      0
9998      0      0      0      0      0      0      0      1
9999      0      1      0      0      0      0      0      0

[10000 rows x 8 columns]

In [20]:
ce_hash2 = HashingEncoder(n_components=16, cols = ['Geography'])
ce_hash2.fit_transform(X,y)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9996,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9997,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9999,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0